# 1. 필요한 라이브러리 불러오기

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## 한글 폰트 설정

In [2]:
import koreanize_matplotlib

In [3]:
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats

plt.rc('font',family='Malgun Gothic')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

# 2. 데이터 로드하기

In [4]:
df=pd.read_csv("소상공인시장진흥공단_상가업소정보_의료기관_201909.csv", low_memory=False)

In [5]:
df.shape

(91335, 39)

91335행, 39열

## 데이터 미리보기

In [6]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,19956873,하나산부인과,NaN,S,의료,S01,병원,S01B10,산부인과,Q86201,...,4127310900110810000010857,산호한양아파트,경기도 안산시 단원구 달미로 10,425764.0,15236.0,NaN,NaN,NaN,126.814295,37.336344
1,20024149,타워광명내과의원,NaN,S,의료,S01,병원,S01B07,내과/외과,Q86201,...,1168011800104670014000001,NaN,서울특별시 강남구 언주로30길 39,135270.0,6292.0,NaN,4,NaN,127.053198,37.488742
2,20152277,조정현신경외과의원,NaN,S,의료,S01,병원,S01B15,신경외과,Q86201,...,4139013200117400001017064,한라프라자,경기도 시흥시 중심상가로 178,429450.0,15066.0,NaN,NaN,NaN,126.734841,37.344955
3,20350610,한귀원정신과의원,NaN,S,의료,S01,병원,S01B99,기타병원,NaN,...,2650010400100740001009932,NaN,부산광역시 수영구 수영로 688,613100.0,48266.0,NaN,5,NaN,129.115438,35.166872
4,20364049,더블유스토어수지점,수지점,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,4146510100107120002026238,NaN,경기도 용인시 수지구 문정로 32,448170.0,16837.0,NaN,1,NaN,127.095522,37.323528

In [7]:
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
91330,16196725,온누리약국,베스트,S,의료,S02,약국/한약방,S02A01,약국,G47811,...,3017011200115070000021096,NaN,대전광역시 서구 문예로 67,302831.0,35240.0,NaN,NaN,NaN,127.389865,36.352728
91331,16192180,리원,봄산후조,S,의료,S07,의료관련서비스업,S07A07,산후조리원,S96993,...,4128112300111460000011715,청한프라자,경기도 고양시 덕양구 성신로 14,412827.0,10503.0,NaN,NaN,NaN,126.830144,37.627530
91332,16127538,참좋은요양병원,NaN,S,의료,S01,병원,S01B17,노인/치매병원,Q86102,...,2641010800105380001005572,한신시티빌,부산광역시 금정구 금강로 209,609841.0,46294.0,NaN,2,NaN,129.082790,35.227138
91333,16108681,경희중앙한의원,NaN,S,의료,S01,병원,S01B06,한의원,Q86203,...,1174010500103450009002392,NaN,서울특별시 강동구 천중로 213,134811.0,5303.0,NaN,NaN,NaN,127.143958,37.540993
91334,16109073,천안김안과천안역본점의원,NaN,S,의료,S01,병원,S01B13,안과의원,Q86201,...,4413110700102660017016314,김안과,충청남도 천안시 동남구 중앙로 92,330952.0,31127.0,NaN,NaN,NaN,127.152651,36.806640

## 데이터 요약하기

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91335 entries, 0 to 91334
Data columns (total 39 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   상가업소번호     91335 non-null  int64
 1   상호명        91335 non-null  object
 2   지점명        1346 non-null   object
 3   상권업종대분류코드  91335 non-null  object
 4   상권업종대분류명   91335 non-null  object
 5   상권업종중분류코드  91335 non-null  object
 6   상권업종중분류명   91335 non-null  object
 7   상권업종소분류코드  91335 non-null  object
 8   상권업종소분류명   91335 non-null  object
 9   표준산업분류코드   86413 non-null  object
 10  표준산업분류명    86413 non-null  object
 11  시도코드       90956 non-null  float64
 12  시도명        90956 non-null  object
 13  시군구코드      90956 non-null  float64
 14  시군구명       90956 non-null  object
 15  행정동코드      91335 non-null  int64
 16  행정동명       90956 non-null  object
 17  법정동코드      91280 non-null  float64
 18  법정동명       91280 non-null  object
 19  지번코드       91335 non-null  int64
 20  대지구분코드     91335 non-null  int64
 21  대지구분명      91335 non-null  object
 22  지번본번지      91335 non-null  int64
 23  지번부번지      72079 non-null  float64
 24  지번주소       91335 non-null  object
 25  도로명코드      91335 non-null  int64
 26  도로명        91335 non-null  object
 27  건물본번지      91335 non-null  int64
 28  건물부번지      10604 non-null  float64
 29  건물관리번호     91335 non-null  object
 30  건물명        46453 non-null  object
 31  도로명주소      91335 non-null  object
 32  구우편번호      91323 non-null  float64
 33  신우편번호      91333 non-null  float64
 34  동정보        7406 non-null   object
 35  층정보        44044 non-null  object
 36  호정보        15551 non-null  object
 37  경도         91335 non-null  float64
 38  위도         91335 non-null  float64
dtypes: float64(9), int64(7), object(23)
memory usage: 27.2+ MB

In [9]:
df.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [10]:
df.dtypes

상가업소번호         int64
상호명           object
지점명           object
상권업종대분류코드     object
상권업종대분류명      object
상권업종중분류코드     object
상권업종중분류명      object
상권업종소분류코드     object
상권업종소분류명      object
표준산업분류코드      object
표준산업분류명       object
시도코드         float64
시도명           object
시군구코드        float64
시군구명          object
행정동코드          int64
행정동명          object
법정동코드        float64
법정동명          object
지번코드           int64
대지구분코드         int64
대지구분명         object
지번본번지          int64
지번부번지        float64
지번주소          object
도로명코드          int64
도로명           object
건물본번지          int64
건물부번지        float64
건물관리번호        object
건물명           object
도로명주소         object
구우편번호        float64
신우편번호        float64
동정보           object
층정보           object
호정보           object
경도           float64
위도           float64
dtype: object

# 3. 결측치 다루기

In [11]:
null_count=df.isnull().sum()
null_count

상가업소번호           0
상호명              0
지점명          89989
상권업종대분류코드        0
상권업종대분류명         0
상권업종중분류코드        0
상권업종중분류명         0
상권업종소분류코드        0
상권업종소분류명         0
표준산업분류코드      4922
표준산업분류명       4922
시도코드           379
시도명            379
시군구코드          379
시군구명           379
행정동코드            0
행정동명           379
법정동코드           55
법정동명            55
지번코드             0
대지구분코드           0
대지구분명            0
지번본번지            0
지번부번지        19256
지번주소             0
도로명코드            0
도로명              0
건물본번지            0
건물부번지        80731
건물관리번호           0
건물명          44882
도로명주소            0
구우편번호           12
신우편번호            2
동정보          83929
층정보          47291
호정보          75784
경도               0
위도               0
dtype: int64

각 변수별 결측치의 개수

## 결측치 시각화하기

In [89]:
null_count.plot()

In [90]:
null_count.plot.bar()

In [14]:
null_count.plot.bar(rot=60)

글자의 회전

In [15]:
null_count.plot.barh(figsize=(5,7))

## 데이터 프레임 형태로 변형하기

In [16]:
df_null_count=null_count.reset_index()
df_null_count.head()

       index      0
0     상가업소번호      0
1        상호명      0
2        지점명  89989
3  상권업종대분류코드      0
4   상권업종대분류명      0

In [17]:
df_null_count.columns=["컬럼명","결측치수"]
df_null_count.head()

         컬럼명   결측치수
0     상가업소번호      0
1        상호명      0
2        지점명  89989
3  상권업종대분류코드      0
4   상권업종대분류명      0

In [18]:
df_null_count.sort_values(by="결측치수", ascending=False)

          컬럼명   결측치수
2         지점명  89989
34        동정보  83929
28      건물부번지  80731
36        호정보  75784
35        층정보  47291
30        건물명  44882
23      지번부번지  19256
9    표준산업분류코드   4922
10    표준산업분류명   4922
11       시도코드    379
13      시군구코드    379
14       시군구명    379
16       행정동명    379
12        시도명    379
17      법정동코드     55
18       법정동명     55
32      구우편번호     12
33      신우편번호      2
29     건물관리번호      0
27      건물본번지      0
0      상가업소번호      0
31      도로명주소      0
25      도로명코드      0
37         경도      0
26        도로명      0
19       지번코드      0
24       지번주소      0
22      지번본번지      0
21      대지구분명      0
20     대지구분코드      0
1         상호명      0
15      행정동코드      0
8    상권업종소분류명      0
7   상권업종소분류코드      0
6    상권업종중분류명      0
5   상권업종중분류코드      0
4    상권업종대분류명      0
3   상권업종대분류코드      0
38         위도      0

In [19]:
df_null_count_top=df_null_count.sort_values(by="결측치수", ascending=False).head(10)
df_null_count_top

         컬럼명   결측치수
2        지점명  89989
34       동정보  83929
28     건물부번지  80731
36       호정보  75784
35       층정보  47291
30       건물명  44882
23     지번부번지  19256
9   표준산업분류코드   4922
10   표준산업분류명   4922
11      시도코드    379

## 특정 칼럼만 불러오기

In [20]:
df["지점명"].head()

0    NaN
1    NaN
2    NaN
3    NaN
4    수지점
Name: 지점명, dtype: object

In [21]:
drop_columns=df_null_count_top["컬럼명"].tolist()
drop_columns

['지점명',
 '동정보',
 '건물부번지',
 '호정보',
 '층정보',
 '건물명',
 '지번부번지',
 '표준산업분류코드',
 '표준산업분류명',
 '시도코드']

데이터 프레임을 리스트화 하기

In [22]:
print(df)
df=df.drop(drop_columns, axis=1)
print(df)

         상가업소번호           상호명   지점명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  상권업종중분류명  \
0      19956873        하나산부인과   NaN         S       의료       S01        병원
1      20024149      타워광명내과의원   NaN         S       의료       S01        병원
2      20152277     조정현신경외과의원   NaN         S       의료       S01        병원
3      20350610      한귀원정신과의원   NaN         S       의료       S01        병원
4      20364049     더블유스토어수지점   수지점         S       의료       S02    약국/한약방
...         ...           ...   ...       ...      ...       ...       ...
91330  16196725         온누리약국   베스트         S       의료       S02    약국/한약방
91331  16192180            리원  봄산후조         S       의료       S07  의료관련서비스업
91332  16127538       참좋은요양병원   NaN         S       의료       S01        병원
91333  16108681       경희중앙한의원   NaN         S       의료       S01        병원
91334  16109073  천안김안과천안역본점의원   NaN         S       의료       S01        병원

      상권업종소분류코드 상권업종소분류명 표준산업분류코드  ...                     건물관리번호      건물명  \
0        S01B10     산부인과   Q86201  ...  4127310900110810000010857  산호한양아파트
1        S01B07    내과/외과   Q86201  ...  1168011800104670014000001      NaN
2        S01B15     신경외과   Q86201  ...  4139013200117400001017064    한라프라자
3        S01B99     기타병원      NaN  ...  2650010400100740001009932      NaN
4        S02A01       약국   G47811  ...  4146510100107120002026238      NaN
...         ...      ...      ...  ...                        ...      ...
91330    S02A01       약국   G47811  ...  3017011200115070000021096      NaN
91331    S07A07    산후조리원   S96993  ...  4128112300111460000011715    청한프라자
91332    S01B17  노인/치매병원   Q86102  ...  2641010800105380001005572    한신시티빌
91333    S01B06      한의원   Q86203  ...  1174010500103450009002392      NaN
91334    S01B13     안과의원   Q86201  ...  4413110700102660017016314      김안과

                     도로명주소     구우편번호    신우편번호  동정보  층정보  호정보          경도  \
0       경기도 안산시 단원구 달미로 10  425764.0  15236.0  NaN  NaN  NaN  126.814295
1      서울특별시 강남구 언주로30길 39  135270.0   6292.0  NaN    4  NaN  127.053198
2        경기도 시흥시 중심상가로 178  429450.0  15066.0  NaN  NaN  NaN  126.734841
3        부산광역시 수영구 수영로 688  613100.0  48266.0  NaN    5  NaN  129.115438
4       경기도 용인시 수지구 문정로 32  448170.0  16837.0  NaN    1  NaN  127.095522
...                    ...       ...      ...  ...  ...  ...         ...
91330      대전광역시 서구 문예로 67  302831.0  35240.0  NaN  NaN  NaN  127.389865
91331   경기도 고양시 덕양구 성신로 14  412827.0  10503.0  NaN  NaN  NaN  126.830144
91332    부산광역시 금정구 금강로 209  609841.0  46294.0  NaN    2  NaN  129.082790
91333    서울특별시 강동구 천중로 213  134811.0   5303.0  NaN  NaN  NaN  127.143958
91334  충청남도 천안시 동남구 중앙로 92  330952.0  31127.0  NaN  NaN  NaN  127.152651

              위도
0      37.336344
1      37.488742
2      37.344955
3      35.166872
4      37.323528
...          ...
91330  36.352728
91331  37.627530
91332  35.227138
91333  37.540993
91334  36.806640

[91335 rows x 39 columns]
         상가업소번호           상호명 상권업종대분류코드 상권업종대분류명 상권업종중분류코드  상권업종중분류명  \
0      19956873        하나산부인과         S       의료       S01        병원
1      20024149      타워광명내과의원         S       의료       S01        병원
2      20152277     조정현신경외과의원         S       의료       S01        병원
3      20350610      한귀원정신과의원         S       의료       S01        병원
4      20364049     더블유스토어수지점         S       의료       S02    약국/한약방
...         ...           ...       ...      ...       ...       ...
91330  16196725         온누리약국         S       의료       S02    약국/한약방
91331  16192180            리원         S       의료       S07  의료관련서비스업
91332  16127538       참좋은요양병원         S       의료       S01        병원
91333  16108681       경희중앙한의원         S       의료       S01        병원
91334  16109073  천안김안과천안역본점의원         S       의료       S01        병원

      상권업종소분류코드 상권업종소분류명    시도명    시군구코드  ...                     지번주소  \
0        S01B10     산부인과    경기도  41273.0  ...     경기도 안산시 단원구 선부동 1081
1        S01B07    내과/외과  서울특별시  11680.0  ...     서울특별시 강남구 도곡동 467-14
2        S01B15     신경외과    경기도  41390.0  ...       경기도 시흥시 정왕동 1740-1
3        S01B99     기타병원  부산광역시  26500.0  ...       부산광역시 수영구 광안동 74-1
4        S02A01       약국    경기도  41465.0  ...   경기도 용인시 수지구 풍덕천동 712-2
...         ...      ...    ...      ...  ...                      ...
91330    S02A01       약국  대전광역시  30170.0  ...        대전광역시 서구 둔산동 1507
91331    S07A07    산후조리원    경기도  41281.0  ...     경기도 고양시 덕양구 화정동 1146
91332    S01B17  노인/치매병원  부산광역시  26410.0  ...      부산광역시 금정구 장전동 538-1
91333    S01B06      한의원  서울특별시  11740.0  ...       서울특별시 강동구 길동 345-9
91334    S01B13     안과의원   충청남도  44131.0  ...  충청남도 천안시 동남구 원성동 266-17

              도로명코드               도로명  건물본번지                     건물관리번호  \
0      412733191011   경기도 안산시 단원구 달미로     10  4127310900110810000010857
1      116804166604  서울특별시 강남구 언주로30길     39  1168011800104670014000001
2      413903199049     경기도 시흥시 중심상가로    178  4139013200117400001017064
3      265003131037     부산광역시 수영구 수영로    688  2650010400100740001009932
4      414653205024   경기도 용인시 수지구 문정로     32  4146510100107120002026238
...             ...               ...    ...                        ...
91330  301703166026      대전광역시 서구 문예로     67  3017011200115070000021096
91331  412813192038   경기도 고양시 덕양구 성신로     14  4128112300111460000011715
91332  264103130022     부산광역시 금정구 금강로    209  2641010800105380001005572
91333  117403124009     서울특별시 강동구 천중로    213  1174010500103450009002392
91334  441313249040  충청남도 천안시 동남구 중앙로     92  4413110700102660017016314

                     도로명주소     구우편번호    신우편번호          경도         위도
0       경기도 안산시 단원구 달미로 10  425764.0  15236.0  126.814295  37.336344
1      서울특별시 강남구 언주로30길 39  135270.0   6292.0  127.053198  37.488742
2        경기도 시흥시 중심상가로 178  429450.0  15066.0  126.734841  37.344955
3        부산광역시 수영구 수영로 688  613100.0  48266.0  129.115438  35.166872
4       경기도 용인시 수지구 문정로 32  448170.0  16837.0  127.095522  37.323528
...                    ...       ...      ...         ...        ...
91330      대전광역시 서구 문예로 67  302831.0  35240.0  127.389865  36.352728
91331   경기도 고양시 덕양구 성신로 14  412827.0  10503.0  126.830144  37.627530
91332    부산광역시 금정구 금강로 209  609841.0  46294.0  129.082790  35.227138
91333    서울특별시 강동구 천중로 213  134811.0   5303.0  127.143958  37.540993
91334  충청남도 천안시 동남구 중앙로 92  330952.0  31127.0  127.152651  36.806640

[91335 rows x 29 columns]

In [23]:
df.shape

(91335, 29)

10개의 변수가 제거되었다

# 4. 수치데이터 요약하기 - 기술통계 값 보기

## 기초 통계값

In [24]:
df["위도"].dtypes

dtype('float64')

수치형 데이터

In [25]:
df["위도"].mean()

36.62471119236685

In [26]:
df["위도"].median()

37.2346523177033

In [27]:
df["위도"].max()

38.4996585705598

In [28]:
df["위도"].min()

33.2192896688307

In [29]:
df["위도"].count()

91335

In [30]:
df["위도"].describe()

count    91335.000000
mean        36.624711
std          1.041361
min         33.219290
25%         35.811830
50%         37.234652
75%         37.507463
max         38.499659
Name: 위도, dtype: float64

In [31]:
df[["위도","경도"]].describe()

                 위도            경도
count  91335.000000  91335.000000
mean      36.624711    127.487524
std        1.041361      0.842877
min       33.219290    124.717632
25%       35.811830    126.914297
50%       37.234652    127.084550
75%       37.507463    128.108919
max       38.499659    130.909912

## 특정 데이터만 요약하기

In [32]:
df.describe(include="number") #숫자만

,상가업소번호,시군구코드,행정동코드,법정동코드,지번코드,대지구분코드,지번본번지,도로명코드,건물본번지,구우편번호,신우편번호,경도,위도
count,9.133500e+04,90956.000000,9.133500e+04,9.128000e+04,9.133500e+04,91335.000000,91335.000000,9.133500e+04,91335.000000,91323.000000,91333.00000,91335.000000,91335.000000
mean,2.121818e+07,32898.381877,3.293232e+09,3.293385e+09,3.293191e+18,1.001336,587.534549,3.293207e+11,251.200482,428432.911085,28085.47698,127.487524,36.624711
std,5.042828e+06,12985.393171,1.297387e+09,1.297706e+09,1.297393e+18,0.036524,582.519364,1.297391e+11,477.456487,193292.339066,18909.01455,0.842877,1.041361
min,2.901108e+06,11110.000000,1.111052e+09,1.111010e+09,1.111010e+18,1.000000,1.000000,1.111020e+11,0.000000,100011.000000,1000.00000,124.717632,33.219290
25%,2.001931e+07,26350.000000,2.635065e+09,2.635011e+09,2.635011e+18,1.000000,162.000000,2.635042e+11,29.000000,302120.000000,11681.00000,126.914297,35.811830
50%,2.211900e+07,41117.000000,4.111758e+09,4.111710e+09,4.111711e+18,1.000000,462.000000,4.111743e+11,92.000000,440300.000000,24353.00000,127.084550,37.234652
75%,2.480984e+07,43113.000000,4.311370e+09,4.311311e+09,4.311311e+18,1.000000,858.000000,4.311332e+11,257.000000,602811.000000,46044.00000,128.108919,37.507463
max,2.852470e+07,50130.000000,5.013061e+09,5.013032e+09,5.013061e+18,2.000000,7338.000000,5.013049e+11,8795.000000,799801.000000,63643.00000,130.909912,38.499659

In [33]:
df.describe(include="object") #문자만

,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구명,행정동명,법정동명,대지구분명,지번주소,도로명,건물관리번호,도로명주소
count,91335,91335,91335,91335,91335,91335,91335,90956,90956,90956,91280,91335,91335,91335,91335,91335
unique,56910,1,1,5,5,34,34,17,228,2791,2822,2,53118,16610,54142,54031
top,리원,S,의료,S01,병원,S02A01,약국,경기도,서구,중앙동,중동,대지,서울특별시 동대문구 제기동 965-1,서울특별시 강남구 강남대로,1123010300109650001031604,서울특별시 동대문구 약령중앙로8길 10
freq,152,91335,91335,60774,60774,18964,18964,21374,3165,1856,874,91213,198,326,198,198

In [34]:
df.describe(include="all") #모든 데이터 요약

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구코드,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
count,9.133500e+04,91335,91335,91335,91335,91335,91335,91335,90956,90956.000000,...,91335,9.133500e+04,91335,91335.000000,91335,91335,91323.000000,91333.00000,91335.000000,91335.000000
unique,NaN,56910,1,1,5,5,34,34,17,NaN,...,53118,NaN,16610,NaN,54142,54031,NaN,NaN,NaN,NaN
top,NaN,리원,S,의료,S01,병원,S02A01,약국,경기도,NaN,...,서울특별시 동대문구 제기동 965-1,NaN,서울특별시 강남구 강남대로,NaN,1123010300109650001031604,서울특별시 동대문구 약령중앙로8길 10,NaN,NaN,NaN,NaN
freq,NaN,152,91335,91335,60774,60774,18964,18964,21374,NaN,...,198,NaN,326,NaN,198,198,NaN,NaN,NaN,NaN
mean,2.121818e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32898.381877,...,NaN,3.293207e+11,NaN,251.200482,NaN,NaN,428432.911085,28085.47698,127.487524,36.624711
std,5.042828e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12985.393171,...,NaN,1.297391e+11,NaN,477.456487,NaN,NaN,193292.339066,18909.01455,0.842877,1.041361
min,2.901108e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11110.000000,...,NaN,1.111020e+11,NaN,0.000000,NaN,NaN,100011.000000,1000.00000,124.717632,33.219290
25%,2.001931e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26350.000000,...,NaN,2.635042e+11,NaN,29.000000,NaN,NaN,302120.000000,11681.00000,126.914297,35.811830
50%,2.211900e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41117.000000,...,NaN,4.111743e+11,NaN,92.000000,NaN,NaN,440300.000000,24353.00000,127.084550,37.234652
75%,2.480984e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43113.000000,...,NaN,4.311332e+11,NaN,257.000000,NaN,NaN,602811.000000,46044.00000,128.108919,37.507463
max,2.852470e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50130.000000,...,NaN,5.013049e+11,NaN,8795.000000,NaN,NaN,799801.000000,63643.00000,130.909912,38.499659

# 5. 문자열 데이터 요약하기 - pandas 로 시각화 하기

## 중복제거한 값 보기

In [35]:
df["상권업종대분류명"].unique()

array(['의료'], dtype=object)

In [36]:
df["상권업종대분류명"].nunique()

1

In [37]:
df["상권업종중분류명"].unique()

array(['병원', '약국/한약방', '수의업', '유사의료업', '의료관련서비스업'], dtype=object)

In [38]:
df["상권업종중분류명"].nunique()

5

In [39]:
df["상권업종소분류명"].unique()

array(['산부인과', '내과/외과', '신경외과', '기타병원', '약국', '동물병원', '한약방', '탕제원',
       '정형/성형외과', '소아과', '이비인후과의원', '노인/치매병원', '언어치료', '수의업-종합', '한의원',
       '치과의원', '침구원', '일반병원', '안과의원', '조산원', '한방병원', '종합병원', '유사의료업기타',
       '응급구조대', '혈액원', '치과병원', '척추교정치료', '피부과', '비뇨기과', '치과기공소', '산후조리원',
       '접골원', '수의업-기타', '제대혈'], dtype=object)

In [40]:
df["상권업종소분류명"].nunique()

34

In [41]:
len(df["상권업종소분류명"].unique())

34

## 그룹화된 요약값 보기

In [42]:
df["시도명"].value_counts()

시도명
경기도        21374
서울특별시      18943
부산광역시       6473
경상남도        4973
인천광역시       4722
대구광역시       4597
경상북도        4141
전라북도        3894
충청남도        3578
전라남도        3224
광주광역시       3214
대전광역시       3067
충청북도        2677
강원도         2634
울산광역시       1997
제주특별자치도     1095
세종특별자치시      353
Name: count, dtype: int64

각 값의 빈도수

In [43]:
df["시도명"].value_counts(normalize=True)

시도명
경기도        0.234993
서울특별시      0.208266
부산광역시      0.071166
경상남도       0.054675
인천광역시      0.051915
대구광역시      0.050541
경상북도       0.045528
전라북도       0.042812
충청남도       0.039338
전라남도       0.035446
광주광역시      0.035336
대전광역시      0.033720
충청북도       0.029432
강원도        0.028959
울산광역시      0.021956
제주특별자치도    0.012039
세종특별자치시    0.003881
Name: proportion, dtype: float64

빈도수를 비율로 계산

In [44]:
df["시도명"].value_counts(normalize=True).plot.barh()

In [45]:
df["시도명"].value_counts(normalize=True).plot.pie(figsize=(7,7))

# 6. 데이터 요약하기 - seaborn 으로 빈도수 시각화 하기

In [86]:
sns.countplot(data=df, x="시도명")

## 그래프로 그리는 데이터 가공하기

In [47]:
c=df["상권업종중분류명"].value_counts()

In [48]:
n=df["상권업종중분류명"].value_counts(normalize=True)

In [49]:
c.plot.bar(rot=0)

In [50]:
n.plot.pie()

In [51]:
df["상권업종소분류명"].value_counts().plot.barh(figsize=(7,8), grid=True)

# 7. 원하는 데이터만 따로 추출해 오기 - 데이터 색인하기

In [52]:
df_medical=df[df["상권업종중분류명"]=="약국/한약방"].copy()

In [53]:
df["상권업종대분류명"]=="의료"

0        True
1        True
2        True
3        True
4        True
         ...
91330    True
91331    True
91332    True
91333    True
91334    True
Name: 상권업종대분류명, Length: 91335, dtype: bool

In [54]:
df.loc[df["상권업종대분류명"]=="의료"]

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구코드,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
0,19956873,하나산부인과,S,의료,S01,병원,S01B10,산부인과,경기도,41273.0,...,경기도 안산시 단원구 선부동 1081,412733191011,경기도 안산시 단원구 달미로,10,4127310900110810000010857,경기도 안산시 단원구 달미로 10,425764.0,15236.0,126.814295,37.336344
1,20024149,타워광명내과의원,S,의료,S01,병원,S01B07,내과/외과,서울특별시,11680.0,...,서울특별시 강남구 도곡동 467-14,116804166604,서울특별시 강남구 언주로30길,39,1168011800104670014000001,서울특별시 강남구 언주로30길 39,135270.0,6292.0,127.053198,37.488742
2,20152277,조정현신경외과의원,S,의료,S01,병원,S01B15,신경외과,경기도,41390.0,...,경기도 시흥시 정왕동 1740-1,413903199049,경기도 시흥시 중심상가로,178,4139013200117400001017064,경기도 시흥시 중심상가로 178,429450.0,15066.0,126.734841,37.344955
3,20350610,한귀원정신과의원,S,의료,S01,병원,S01B99,기타병원,부산광역시,26500.0,...,부산광역시 수영구 광안동 74-1,265003131037,부산광역시 수영구 수영로,688,2650010400100740001009932,부산광역시 수영구 수영로 688,613100.0,48266.0,129.115438,35.166872
4,20364049,더블유스토어수지점,S,의료,S02,약국/한약방,S02A01,약국,경기도,41465.0,...,경기도 용인시 수지구 풍덕천동 712-2,414653205024,경기도 용인시 수지구 문정로,32,4146510100107120002026238,경기도 용인시 수지구 문정로 32,448170.0,16837.0,127.095522,37.323528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91330,16196725,온누리약국,S,의료,S02,약국/한약방,S02A01,약국,대전광역시,30170.0,...,대전광역시 서구 둔산동 1507,301703166026,대전광역시 서구 문예로,67,3017011200115070000021096,대전광역시 서구 문예로 67,302831.0,35240.0,127.389865,36.352728
91331,16192180,리원,S,의료,S07,의료관련서비스업,S07A07,산후조리원,경기도,41281.0,...,경기도 고양시 덕양구 화정동 1146,412813192038,경기도 고양시 덕양구 성신로,14,4128112300111460000011715,경기도 고양시 덕양구 성신로 14,412827.0,10503.0,126.830144,37.627530
91332,16127538,참좋은요양병원,S,의료,S01,병원,S01B17,노인/치매병원,부산광역시,26410.0,...,부산광역시 금정구 장전동 538-1,264103130022,부산광역시 금정구 금강로,209,2641010800105380001005572,부산광역시 금정구 금강로 209,609841.0,46294.0,129.082790,35.227138
91333,16108681,경희중앙한의원,S,의료,S01,병원,S01B06,한의원,서울특별시,11740.0,...,서울특별시 강동구 길동 345-9,117403124009,서울특별시 강동구 천중로,213,1174010500103450009002392,서울특별시 강동구 천중로 213,134811.0,5303.0,127.143958,37.540993
91334,16109073,천안김안과천안역본점의원,S,의료,S01,병원,S01B13,안과의원,충청남도,44131.0,...,충청남도 천안시 동남구 원성동 266-17,441313249040,충청남도 천안시 동남구 중앙로,92,4413110700102660017016314,충청남도 천안시 동남구 중앙로 92,330952.0,31127.0,127.152651,36.806640

In [55]:
df.loc[df["상권업종대분류명"]=="의료", "상권업종중분류명"]

0              병원
1              병원
2              병원
3              병원
4          약국/한약방
           ...
91330      약국/한약방
91331    의료관련서비스업
91332          병원
91333          병원
91334          병원
Name: 상권업종중분류명, Length: 91335, dtype: object

## 조건에 맞는 데이터 개수 세기

In [56]:
df.loc[df["상권업종대분류명"]=="의료", "상권업종중분류명"].value_counts()

상권업종중분류명
병원          60774
약국/한약방      20923
수의업          5323
유사의료업        3774
의료관련서비스업      541
Name: count, dtype: int64

## 여러 조건으로 색인하기

In [57]:
df_seoul_drug=df[(df["상권업종소분류명"]=="약국")&(df["시도명"]=="서울특별시")]

In [58]:
df_seoul_drug.shape

(3579, 29)

# 8. 텍스트 데이터 전처리하기

In [59]:
df_seoul_drug["시군구명"]

33        강남구
51        강동구
130       중랑구
136       성동구
141      동대문구
         ...
91239     성북구
91275     구로구
91288     종로구
91301     구로구
91322     중랑구
Name: 시군구명, Length: 3579, dtype: object

In [60]:
c=df_seoul_drug["시군구명"].value_counts()

In [61]:
c.plot.bar(rot=60)

In [62]:
n=df_seoul_drug["시군구명"].value_counts(normalize=True)
n

시군구명
강남구     0.104498
동대문구    0.072925
광진구     0.059234
서초구     0.053367
송파구     0.052529
노원구     0.047220
성북구     0.044705
은평구     0.042191
영등포구    0.040514
강서구     0.037999
마포구     0.037999
중랑구     0.036044
서대문구    0.033529
관악구     0.032970
강동구     0.032691
종로구     0.031014
양천구     0.030455
중구      0.029617
강북구     0.029058
구로구     0.028500
동작구     0.026823
성동구     0.024588
용산구     0.024308
금천구     0.023750
도봉구     0.023470
Name: proportion, dtype: float64

In [63]:
df_seoul_hospital=df[(df["상권업종소분류명"]=="종합병원")&(df["시도명"]=="서울특별시")].copy()
df_seoul_hospital

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구코드,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
305,25155642,대진의료재단,S,의료,S01,병원,S01B01,종합병원,서울특별시,11215.0,...,서울특별시 광진구 중곡동 58-25,112153104006,서울특별시 광진구 긴고랑로,119,1121510100100580025000733,서울특별시 광진구 긴고랑로 119,143220.0,4944.0,127.088279,37.559048
353,20471487,홍익병원별관,S,의료,S01,병원,S01B01,종합병원,서울특별시,11470.0,...,서울특별시 양천구 신정동 897-13,114702005008,서울특별시 양천구 국회대로,250,1147010100108970013001044,서울특별시 양천구 국회대로 250,158070.0,7937.0,126.862805,37.529213
385,20737057,SNUH,S,의료,S01,병원,S01B01,종합병원,서울특별시,11680.0,...,서울특별시 강남구 역삼동 736-55,116804166727,서울특별시 강남구 테헤란로26길,10,1168010100107360055027688,서울특별시 강남구 테헤란로26길 10,135080.0,6236.0,127.035825,37.499630
1917,23210677,평화드림여의도성모병원의료기매장,S,의료,S01,병원,S01B01,종합병원,서울특별시,11560.0,...,서울특별시 영등포구 여의도동 62,115603118001,서울특별시 영등포구 63로,10,1156011000100620000031477,서울특별시 영등포구 63로 10,150713.0,7345.0,126.936693,37.518296
2461,20024045,한양,S,의료,S01,병원,S01B01,종합병원,서울특별시,11200.0,...,서울특별시 성동구 행당동 15-1,112003103002,서울특별시 성동구 마조로,22,1120010700100150001019623,서울특별시 성동구 마조로 22-2,133070.0,4763.0,127.041325,37.559469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71991,28505952,서울성모병원응급의료센터,S,의료,S01,병원,S01B01,종합병원,서울특별시,11650.0,...,서울특별시 서초구 반포동 505,116502121003,서울특별시 서초구 반포대로,222,1165010700101230000017226,서울특별시 서초구 반포대로 222,137701.0,6591.0,127.005841,37.502382
76508,12292992,라마르의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11740.0,...,서울특별시 강동구 천호동 453-8,117404172367,서울특별시 강동구 천호대로157길,18,1174010900104530021010314,서울특별시 강동구 천호대로157길 18,134864.0,5335.0,127.127466,37.538485
90492,16031909,가톨릭대학교여의도성모병원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11140.0,...,서울특별시 중구 명동2가 1-1,111404103165,서울특별시 중구 명동길,74,1114012700100010001019574,서울특별시 중구 명동길 74,100809.0,4537.0,126.986758,37.563662
90581,16332576,씨엠병원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11560.0,...,서울특별시 영등포구 영등포동4가 90,115604154717,서울특별시 영등포구 영등포로36길,13,1156010500100900000035097,서울특별시 영등포구 영등포로36길 13,150030.0,7301.0,126.903857,37.518807
90788,16162338,성베드로병원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11680.0,...,서울특별시 강남구 도곡동 910-27,116802000003,서울특별시 강남구 남부순환로,2649,1168011800109100027000895,서울특별시 강남구 남부순환로 2649,135859.0,6271.0,127.039567,37.485604

In [64]:
df_seoul_hospital["시군구명"].value_counts()

시군구명
강남구     15
영등포구     8
광진구      6
서초구      6
강동구      5
중구       5
송파구      5
강북구      4
도봉구      4
서대문구     4
양천구      4
성북구      3
강서구      2
중랑구      2
종로구      2
동대문구     2
구로구      2
노원구      2
금천구      2
성동구      2
관악구      2
동작구      1
마포구      1
용산구      1
은평구      1
Name: count, dtype: int64

## 텍스트 데이터 색인하기

In [65]:
df_seoul_hospital["상호명"].str.contains("종합병원").sum()

0

"종합병원"이라는 문구가 들어간 데이터만 찾기 - 0개

In [66]:
df_seoul_hospital.loc[~df_seoul_hospital["상호명"].str.contains("종합병원"), "상호명"].unique()

array(['대진의료재단', '홍익병원별관', 'SNUH', '평화드림여의도성모병원의료기매장', '한양', '백산의료재단친구병원',
       '서울보훈병원', '서울성모병원장례식장꽃배달', '서울대학교병원', '알콜중독및정신질환상담소',
       '강남성모병원장례식장꽃배달', '제일병원', '이랜드클리닉', '사랑나눔의료재단', '우울증센터', '성심의료재단',
       '다나의료재단', '서울아산병원신관', '원자력병원장례식장', '국민의원', '고려대학교구로병원', '학교법인일송학원',
       '삼성의료원장례식장', '희명스포츠의학센터인공신장실', '연세대학교의과대학강남세브란스', '국립정신병원',
       '코아클리닉', '수서제일의원', '사랑의의원', '한국전력공사부속한일병원', '신촌연세병원', '창동제일의원',
       '영동세브란스병원', '제일성심의원', '삼성의료재단강북삼성태', '서울시립보라매병원', '서울이의원',
       '서울대학교병원비상계획외래', '평화드림서울성모병원의료', '홍익병원', '사랑나눔의료재단서', '독일의원',
       '서울연합의원', '우신향병원', '동부제일병원', '아산재단금강병원', '명곡안연구소', '아산재단서울중앙병원',
       '메디힐특수여객', '삼성생명공익재단삼성서', '성광의료재단차병원', '한국건강관리협회서울특',
       '정해복지부설한신메디피아', '성베드로병원', '성애의료재단', '실로암의원', 'Y&T성모마취과', '광진성모의원',
       '서울현대의원', '이노신경과의원', '송정훼밀리의원', '서울중앙의원', '영남의료재단', '인제대학교서울백병원',
       '한국필의료재단', '세브란스의원', '가톨릭대학교성바오로병원장례식장', '서울연세의원', '사랑의병원',
       '성삼의료재단미즈메디병원', '씨엠충무병원', '성신의원', '원진재단부설녹색병원', '송파제일의원',
       '카톨릭성모의원', '한양성심의원', '관악성모의원', '강남센트럴병원', '우이한솔의원', '우리들병원',
       '서울성모병원어린이집', '건국대학교병원', '서울적십자병원', '북부성모의원', '한림대학교부속한강성심병원장례식장',
       '서울성모병원응급의료센터', '라마르의원', '가톨릭대학교여의도성모병원', '씨엠병원'], dtype=object)

## 제거 할 데이터 지정하기

In [67]:
df_seoul_hospital["상호명"].str.contains("꽃배달").sum()

2

In [68]:
df_seoul_hospital[df_seoul_hospital["상호명"].str.contains("꽃배달")]

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구코드,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
2803,20895655,서울성모병원장례식장꽃배달,S,의료,S01,병원,S01B01,종합병원,서울특별시,11650.0,...,서울특별시 서초구 반포동 551,116504163330,서울특별시 서초구 사평대로28길,55,1165010700105510000017194,서울특별시 서초구 사평대로28길 55,137040.0,6578.0,127.000682,37.498257
4644,22020310,강남성모병원장례식장꽃배달,S,의료,S01,병원,S01B01,종합병원,서울특별시,11650.0,...,서울특별시 서초구 반포동 547-6,116504163242,서울특별시 서초구 반포대로39길,56,1165010700105470006016762,서울특별시 서초구 반포대로39길 56-24,137040.0,6578.0,127.001756,37.499095

In [69]:
drop_row = df_seoul_hospital[df_seoul_hospital["상호명"].str.contains("꽃배달|의료기|장례식장|상담소|어린이집")].index

drop_row=drop_row.tolist()
drop_row

[1917, 2803, 4431, 4644, 7938, 10283, 47008, 60645, 70177]

인덱스 번호를 리스트 형태로 변환

In [70]:
df_seoul_hospital[df_seoul_hospital["상호명"].str.endswith("의원")]

,상가업소번호,상호명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,시도명,시군구코드,...,지번주소,도로명코드,도로명,건물본번지,건물관리번호,도로명주소,구우편번호,신우편번호,경도,위도
8479,3723018,국민의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11410.0,...,서울특별시 서대문구 북아현동 126-21,114103005057,서울특별시 서대문구 신촌로,277,1141011000101260021028108,서울특별시 서대문구 신촌로 277,120819.0,3758.0,126.956949,37.557573
12854,24551577,수서제일의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11680.0,...,서울특별시 강남구 수서동 707,116804166081,서울특별시 강남구 광평로51길,49,1168011500107070000001338,서울특별시 강남구 광평로51길 49,135781.0,6347.0,127.099735,37.492133
13715,22439885,사랑의의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11410.0,...,서울특별시 서대문구 충정로3가 464,114103005010,서울특별시 서대문구 서소문로,21,1141010200104640000030855,서울특별시 서대문구 서소문로 21,120723.0,3742.0,126.964070,37.559888
14966,20410787,창동제일의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11320.0,...,서울특별시 도봉구 창동 331,113204127028,서울특별시 도봉구 노해로65길,17,1132010700103310000013865,서울특별시 도봉구 노해로65길 17-13,132040.0,1405.0,127.045430,37.651877
16091,24550477,제일성심의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11305.0,...,서울특별시 강북구 번동 229,113054124443,서울특별시 강북구 오현로31길,141,1130510200102290000015008,서울특별시 강북구 오현로31길 141,142765.0,1138.0,127.033977,37.633231
18047,24318286,서울이의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11230.0,...,서울특별시 동대문구 답십리동 94-9,112303105013,서울특별시 동대문구 전농로,102,1123010500100940009022015,서울특별시 동대문구 전농로 102,130030.0,2538.0,127.057837,37.573973
20200,24427239,독일의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11215.0,...,서울특별시 광진구 중곡동 140-19,112152000008,서울특별시 광진구 천호대로,581,1121510100101400019023394,서울특별시 광진구 천호대로 581,143220.0,4930.0,127.082699,37.556265
20415,26232681,서울연합의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11710.0,...,서울특별시 송파구 잠실동 209-2,117103123009,서울특별시 송파구 석촌호수로,84,1171010100102090002000939,서울특별시 송파구 석촌호수로 84,138220.0,5564.0,127.086652,37.508774
30706,24641665,실로암의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11350.0,...,서울특별시 노원구 월계동 582,113503110008,서울특별시 노원구 초안산로,19,1135010200105820000018954,서울특별시 노원구 초안산로 19,139050.0,1882.0,127.054145,37.629538
32889,26667863,광진성모의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11215.0,...,서울특별시 광진구 자양동 553-428,112153103010,서울특별시 광진구 뚝섬로,523,1121510500105530428024909,서울특별시 광진구 뚝섬로 523,143190.0,5074.0,127.068210,37.535527
34459,27060367,서울현대의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11500.0,...,서울특별시 강서구 등촌동 628-3,115003005069,서울특별시 강서구 화곡로,418,1150010200106280003027135,서울특별시 강서구 화곡로 418,157030.0,7548.0,126.855201,37.560343
34720,27324126,이노신경과의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11680.0,...,서울특별시 강남구 신사동 600-13,116804166155,서울특별시 강남구 논현로164길,11,1168010700106000013010532,서울특별시 강남구 논현로164길 11,135893.0,6025.0,127.029429,37.523672
35696,24343215,송정훼밀리의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11200.0,...,서울특별시 성동구 송정동 73-608,112004109028,서울특별시 성동구 광나루로11길,26,1120011800100730608003466,서울특별시 성동구 광나루로11길 26-1,133837.0,4801.0,127.067033,37.550124
37251,24298799,서울중앙의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11305.0,...,서울특별시 강북구 미아동 1267-56,113054124223,서울특별시 강북구 삼양로19길,59,1130510100112670056024420,서울특별시 강북구 삼양로19길 59,142818.0,1198.0,127.019342,37.615738
45120,24583753,세브란스의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11380.0,...,서울특별시 은평구 응암동 598-1,113803005055,서울특별시 은평구 응암로,181,1138010700105980001045939,서울특별시 은평구 응암로 181,122010.0,3485.0,126.916495,37.588195
49626,22366415,서울연세의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11215.0,...,서울특별시 광진구 중곡동 198-11,112153005027,서울특별시 광진구 면목로,178,1121510100101980011022542,서울특별시 광진구 면목로 178,143220.0,4903.0,127.083155,37.568992
51575,24601644,성신의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11290.0,...,서울특별시 성북구 길음동 1278,112903005043,서울특별시 성북구 숭인로,16,1129013400112780000025392,서울특별시 성북구 숭인로 16,136783.0,2726.0,127.023856,37.611775
55133,24571796,송파제일의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11710.0,...,서울특별시 송파구 송파동 141-7,117103123014,서울특별시 송파구 오금로,176,1171010400101410007012514,서울특별시 송파구 오금로 176,138170.0,5663.0,127.113817,37.509044
56320,7984274,카톨릭성모의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11320.0,...,서울특별시 도봉구 쌍문동 693,113203005039,서울특별시 도봉구 도봉로,553,1132010500106930000006859,서울특별시 도봉구 도봉로 553,132030.0,1436.0,127.037836,37.654644
56404,20859679,한양성심의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11740.0,...,서울특별시 강동구 상일동 437-5,117402000008,서울특별시 강동구 천호대로,1471,1174010300104370005020639,서울특별시 강동구 천호대로 1471,134838.0,5283.0,127.171451,37.546532
56688,20000828,관악성모의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11620.0,...,서울특별시 관악구 봉천동 1528-27,116203120008,서울특별시 관악구 쑥고개로,51,1162010100115280027028857,서울특별시 관악구 쑥고개로 51-1,151050.0,8784.0,126.942270,37.479790
57551,24598793,우이한솔의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11305.0,...,서울특별시 강북구 수유동 279-37,113053005041,서울특별시 강북구 삼양로,516,1130510300102790037009591,서울특별시 강북구 삼양로 516,142070.0,1044.0,127.014133,37.649078
62113,22401007,북부성모의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11305.0,...,서울특별시 강북구 수유동 269-20,113053005038,서울특별시 강북구 한천로,1152,1130510300102690020010474,서울특별시 강북구 한천로 1152,142070.0,1046.0,127.017413,37.646943
76508,12292992,라마르의원,S,의료,S01,병원,S01B01,종합병원,서울특별시,11740.0,...,서울특별시 강동구 천호동 453-8,117404172367,서울특별시 강동구 천호대로157길,18,1174010900104530021010314,서울특별시 강동구 천호대로157길 18,134864.0,5335.0,127.127466,37.538485

In [71]:
drop_row2 = df_seoul_hospital[df_seoul_hospital["상호명"].str.endswith("의원")].index
drop_row2=drop_row2.tolist()
drop_row2

[8479,
 12854,
 13715,
 14966,
 16091,
 18047,
 20200,
 20415,
 30706,
 32889,
 34459,
 34720,
 35696,
 37251,
 45120,
 49626,
 51575,
 55133,
 56320,
 56404,
 56688,
 57551,
 62113,
 76508]

In [72]:
drop_row = drop_row + drop_row2
drop_row

[1917,
 2803,
 4431,
 4644,
 7938,
 10283,
 47008,
 60645,
 70177,
 8479,
 12854,
 13715,
 14966,
 16091,
 18047,
 20200,
 20415,
 30706,
 32889,
 34459,
 34720,
 35696,
 37251,
 45120,
 49626,
 51575,
 55133,
 56320,
 56404,
 56688,
 57551,
 62113,
 76508]

In [73]:
len(drop_row)

33

## 데이터 제거하기

In [74]:
print(df_seoul_hospital.shape)
df_seoul_hospital = df_seoul_hospital.drop(drop_row, axis=0)
print(df_seoul_hospital.shape)

(91, 29)
(58, 29)

In [75]:
df_seoul_hospital["시군구명"].value_counts().plot.bar()

In [76]:
plt.figure(figsize=(15, 4))
sns.countplot(data=df_seoul_hospital, x="시군구명")

# 9. 위∙경도 데이터 scatterplot 으로 표현하기

In [77]:
df_seoul = df[df["시도명"] == "서울특별시"].copy()
df_seoul.shape

(18943, 29)

In [78]:
df_seoul["시군구명"].value_counts()

시군구명
강남구     3120
서초구     1491
동대문구    1152
송파구     1021
광진구      935
강서구      799
노원구      741
은평구      739
영등포구     731
성북구      708
강동구      703
마포구      649
관악구      578
중구       576
양천구      574
서대문구     543
중랑구      497
종로구      492
동작구      489
성동구      482
구로구      451
도봉구      412
강북구      396
용산구      361
금천구      303
Name: count, dtype: int64

In [79]:
df_seoul ["시군구명"].value_counts().plot.bar(figsize=(10, 4), rot=30)

In [80]:
plt.figure(figsize=(15, 4))
sns.countplot(data=df_seoul, x="시군구명")

In [81]:
df_seoul[["경도", "위도", "시군구명"]].plot.scatter(x="경도", y="위도", figsize=(8, 7), grid=True)

In [82]:
plt.figure(figsize=(9, 8))
sns.scatterplot(data=df_seoul, x="경도", y="위도", hue="상권업종중분류명")

In [83]:
plt.figure(figsize=(9, 8))
sns.scatterplot(data=df_seoul, x="경도", y="위도", hue="시군구명")

In [84]:
plt.figure(figsize=(9, 8))
sns.scatterplot(data=df, x="경도", y="위도", hue="시도명")

# 10. folium 으로 위경도와 주소 데이터를 활용해 지도에 표현하기

In [85]:
import folium

ModuleNotFoundError: No module named 'folium'

In [ ]:
df_seoul_hospital["위도"].mean()
df_seoul_hospital["경도"].mean()

In [ ]:
map = folium.Map(location=[df_seoul_hospital["위도"].mean(),df_seoul_hospital["경도"].mean()], zoom_start=1)

In [ ]:
map

In [ ]:
for n in df_seoul_hospital.index:
    name = df_seoul_hospital.loc[n, "상호명"]
    address = df_seoul_hospital.loc[n, "도로명주소"]
    popup = f"{name}-{address}"
    location = [df_seoul_hospital.loc[n, "위도"], df_seoul_hospital.loc[n, "경도"]]
    folium.Marker(
        location = location,
        popup = popup,
    ).add_to(map)
map